.body
{
    font-family: "Roboto";
}
.header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 55px;
    margin: 0;
    list-style: none;
    margin-bottom:30px;
    background: blueviolet;
}
.header .h {
    font-size: 32px;
    line-height: 18px;
        /* or 56% */

    text-transform: uppercase;
    margin-right: 500px;
}
.header a{
    margin-right:40px;
    text-decoration:none;
}
.header form{
    margin-right: 40px;
}

.body{
    background: white;
}
.videos{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: start;
    margin:0;
}
.videos li{
    margin:40px;
}

